

.slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00a30580;
    color: #FFF;
    width: 40px;
    height: 80px;
    border-radius: 5px;
}

.slider-nav:hover {
    background-color: #00A305;
}

.uk-dotnav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-left: 0;
}

.uk-dotnav > * {
    padding-left: 0;
}

.uk-dotnav > .uk-active > * {
    background-color: #00A305;
}

/* SBC Interview */

.sbc-interview .wp-block-embed-youtube {
    width: 100%;
    
}